@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-in {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

@font-face {
  font-family: 'SSMedium';
  src: url('/fonts/Sequel\ Sans\ Medium\ Body.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SSRoman';
  src: url('/fonts/Sequel\ Sans\ Roman\ Body.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SixCaps';
  src: url('/fonts/SixCaps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OffBit';
  src: url('/fonts/OffBitTrial-DotBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sfpro';
  src: url('/fonts/SFPRODISPLAYMEDIUM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.navbar, .bento, .card, .footer {
  font-family: 'SSMedium', sans-serif;
}

.projecthead{
  font-family: 'SixCaps', sans-serif;
}

.tags{
  font-family: 'SSMedium', sans-serif;
}

.foothead, .company {
  font-family: 'OffBit', sans-serif;
}

.sfpro {
  font-family: 'Sfpro', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transform: translateX(0) !important;
  transition: none !important;
}

body.transitioning {
  transition: transform 0.3s ease-in-out !important;
}

/* Reset transitions after navigation */
body.page-loaded {
  transform: translateX(0) !important;
  transition: none !important;
}