@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) {
  * {
    cursor: url('/newcursor.svg'), auto;
  }
}

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

/* If you need reduced motion support */
@media (prefers-reduced-motion: reduce) {
  .animate-fade-in {
    animation: none;
  }
}

@font-face {
  font-family: 'OffBit';
  src: url('/fonts/OffBitDotBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-offbit {
  font-family: 'OffBit', system-ui, -apple-system, sans-serif;
}

@font-face {
  font-family: 'SSRomanDisplay';
  src: url('/fonts/SSRomanDisplay.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-ssromandisplay {
  font-family: 'SSRomanDisplay', system-ui, -apple-system, sans-serif;

}
@font-face {
  font-family: 'GoodVibrations';
  src: url('/fonts/GoodVibrations.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-goodvibrations {
  font-family: 'GoodVibrations', system-ui, -apple-system, sans-serif;
}

@font-face {
  font-family: 'SixCaps';
  src: url('/fonts/SixCaps.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-sixcaps {
  font-family: 'SixCaps', system-ui, -apple-system, sans-serif;
}